* {
    box-sizing: border-box;
}

a,
a:link, 
a:visited, 
a:hover, 
a:active {
    text-decoration: none;
    color: #A10000;
}

/* ----- FONT FACE ----- */
@font-face {
    font-family: 'Fre1';
    src: url("../fonts/Freesentation-1Thin.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fre3';
    src: url("../fonts/Freesentation-3Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fre5';
    src: url("../fonts/Freesentation-5Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fre9';
    src: url("../fonts/Freesentation-9Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----- LAYOUT & BASIC ----- */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FAF4E2;
    overflow: hidden;
    position: relative;
    visibility: hidden;
    transition: background-color 1s ease-in-out;
}
.container{
    width: 1440px;
    height: 900px;
    flex-shrink: 0;
    aspect-ratio: 1440/900;
    background-size: contain;
    background-color: #FAF4E2;
    transform-origin: top left;
    position: absolute;
    transform: scale(0);
    font-family: 'Fre3';
    color:#A10000;
    transition: background-color 1s ease-in-out;
}
main {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 900px;
    flex-shrink: 0;
    /* background: rgba(178, 60, 60, 0.7); */
    overflow-y: auto;
}
main::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.page-container,
.gallery-container, .form-page-container, .view-container,
.password-form-container, .guestbook-container, .black-container{
    color: #A10000;
    font-family: 'Fre3';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.dday{
    position: absolute;
    top: 20px;
    left: 53px;
    color: #FFF;
    text-align: center;
    font-family: 'Fre9';
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}

/* ----- BUTTONS (통합된 부분) ----- */
/* 1. 모든 버튼의 공통 스타일 */
.btn, .btn-action, .add-btn, button[type="submit"], .cancel_btn{
    display: inline-block;
    padding: 12px 20px;
    font-family: 'Fre5';
    font-size: 16px;
    text-decoration-line: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin-right: 10px; /* 기본 간격 */
}
.btn:last-child {
    margin-right: 0; /* 마지막 버튼은 간격 제거 */
}

/* 2. 색상 및 형태에 따른 스타일 */
.btn-primary, .btn-action, .add-btn, button[type="submit"]  {
    background-color:#A10000;
    color: #fafafa !important;
}
.btn-secondary, .btn-action.delete-btn, .cancel_btn {
    background-color: #fafafa;
    color: #A10000 !important;
}
.btn-small {
    padding: 8px 15px;
    font-size: 14px;
}
.btn-delete, .btn-secondary-guest {
    background-color: #A10000 !important;
    color: #fafafa !important;
}

.login_btn{
    color: #A10000 !important;
}

/* 게시물 내 목록가기 버튼 */
.btn-back-to-list {
    display: inline-block;
    padding: 12px 35px;
    background-color: #A10000;
    color: #fafafa !important;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}

.file-upload-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #A10000;
    color: #fafafa !important;
    font-family: 'Fre5';
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-decoration-line: none;
    cursor: pointer;
    width: 84px;
}

/* ----- POST & VIEW ----- */
.view-container hr {
    border: none;
    border-top: 3px solid #A10000;
}
.post-meta {
    text-align: right;
    margin-bottom: 15px;
}
.post-date {
    text-align: right;
    color: #A10000;
    font-size: 14px;
    margin-bottom: 25px;
}
.post-content {
    line-height: 1.8;
    min-height: 250px;
}
.post-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.post-actions {
    text-align: center;
    margin-top: 40px;
}

/* ----- GALLERY ----- */
.gallery-container > h2{
    font-family: 'Fre9';
}
.gallery-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 70px;
}
.gallery-item {
    text-decoration: none;
    color: #333;
    border-radius: 15px;
    overflow: hidden;
}
.item-thumbnail {
    width: 100%;
    padding-top: 100%;
    background-color:#B1C8DA;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery-item h3 {
    padding: 10px;
    font-size: 16px;
    margin: 0;
    color: #A10000;
}



/* ----- FORMS ----- */
.form-page-container, .view-container {
    position: absolute;
    top: 200px;
    left: 90px;
    width: 1260px;
    height: 639px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-page-container::-webkit-scrollbar, .view-container::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.login-form, .password_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
.login-form > form {
    display: flex;
    gap: 26px;
    flex-direction: column;
    align-items: center;
}
.login-form > form > input,
.password_content > form > input {
    color: #A10000;
    width: 399px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #A10000;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    margin-top: 20px;
}
.login-form > form > button,
.password_content > form > button {
    color: #A10000;
    width: 252px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #A10000;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 13px;
}

/* ----- CHAT ----- */
#chat-overlay {
    position: absolute;
    top: 224px;
    left: 632px;
    width: 490px;
    height: 676px;
    flex-shrink: 0;
    border-radius: 30px 30px 0 0;
    background: #111948;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
#chat-overlay .chat-header {
    cursor: pointer;
    height: 30px;
}
.chat-container {
    position: absolute;
    top: 9.25px;
    left: 10px;
    width: 470px;
    height: 666.752px;
    flex-shrink: 0;
    border-radius: 26px 26px 0 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), url('../img/phone_back.png') no-repeat center center;
    background-size: contain;
    font-family: 'Fre3';
}
.chat-window {
    width: 470px;
    height: 617px;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}
.chat-window::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.message-row {
    display: flex;
    margin-bottom: 15px;
    max-width: 70%;
    align-items: flex-start;
}
.message-row.sent {
    margin-left: auto;
    flex-direction: row-reverse;
}
.message-row.received {
    margin-right: auto;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: contain;
    background-position: center;
    margin: 0 10px;
}
.message-bubble {
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
}
.message-row.sent .message-bubble {
    background: #A10000;
    color: #fafafa !important;
    border-top-right-radius: 5px;
}
.message-row.received .message-bubble {
    background: #e9e9eb;
    color: #333;
    border-top-left-radius: 5px;
}
.character-name {
    font-size: 12px;
    font-family: 'Fre5';
    margin-bottom: 5px;
    color: #888;
}
.message-text {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.chat-input-area {
    padding-top: 10px;
}
.chat-input-area > form > select,
.chat-input-area input::placeholder{
    color: #A10000;
}
.chat-input-area form {
    display: flex;
}
.chat-input-area select {
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: 1px solid #A10000;
    border-right: 1px solid #A10000;
}
.chat-input-area input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #cccccc00;
    border-top: 1px solid #A10000;
    border-left: none;
}
.chat-input-area button {
    padding: 10px 15px;
    border: none;
    border-top: 1px solid #A10000;
    background: #A10000;
    color: #fafafa !important;
    cursor: pointer;
}

/* ----- ETC ----- */
.note-modal-backdrop, .modal-backdrop {
    background-color: transparent !important;
    z-index: -1 !important
}


.main_title{
    width: 316px;
    height: 83px;
    flex-shrink: 0;
    aspect-ratio: 316/83;
    background: url("../images/로고.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 32px;
    left: 101px;
    display: flex;
}

.main_slog{
    width: 360px;
    height: 37px;
    flex-shrink: 0;
    aspect-ratio: 360/37;
    background: url("../images/슬로건.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 37px;
    left: 762px;
    display: flex;
}

nav{
    position: absolute;
    top: 90px;
    left: 532px;
    display: flex;
    flex-direction: row;
    gap: 37px;
    font-size: 16px;
    font-family: 'Fre3';
    color: #A10000 !important;
}


.main_chat{
    position: absolute;
    top: 82px;
    left: 1225px;
    width: 25px;
    height: 22px;
    aspect-ratio: 25/22;
    background: url("../images/채팅방.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    display: flex;
}

.main_login{
    position: absolute;
    top: 78px;
    left: 1290px;
    width: 23px;
    height: 31px;
    aspect-ratio: 23/31;
    background: url("../images/로그인회원가입.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    display: flex;
}


.main_images {
    position: absolute;
    top: 146px;
    left: 90px;
    width: 1260px;
    height: 639px;
    aspect-ratio: 1260 / 639;
    overflow: hidden;
    transform-origin: top left;
}


.main_images_track {
    display: flex;
    width: 600%;
    height: 100%;
    animation: slideAnimation 15s infinite; 
}


.main_images_track .slide {
    width: 1260px;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}


@keyframes slideAnimation {
    0%, 15%   { transform: translateX(0); }            
    20%, 35%  { transform: translateX(-1260px); }      
    40%, 55%  { transform: translateX(-2520px); }      
    60%, 75%  { transform: translateX(-3780px); }      
    80%, 95%  { transform: translateX(-5040px); }      
    100%      { transform: translateX(-6300px); }      
}

.main_plus{
    position: absolute;
    top: 704px;
    left: 158px;
    width: 1104px;
    height: 196px;
    aspect-ratio: 1104/196;
    background: url("../images/하단 팝업.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
}


.intro_nav, .universry_nav, .creative_nav, .art_nav, .video_nav, .free_nav{
    position: absolute;
    top: 157px;
    left: 101px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #f7f5ed !important;
    border-radius: 15px;
    width: 240px;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.universry_nav, .video_nav{
    gap:150px;
}

.creative_nav, .art_nav, .free_nav{
    gap: 200px;
}


.intro_page, .universry_page, .creative_page, .art_page, .video_page, .free_page{
    position: absolute;
    top: 157px;
    left: 395px;
    background-color: #f7f5ed;
    border-radius: 15px;
    width: 936px;
    height: 700px;
    padding: 50px;
    overflow-y: auto;
}

.intro_page::-webkit-scrollbar, .universry_page::-webkit-scrollbar, .creative_page::-webkit-scrollbar, .art_page::-webkit-scrollbar, .video_page::-webkit-scrollbar, .free_page::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.guest_img1{
    position: absolute;
    top: 215px;
    left: 38px;
    width: 168px;
    height: 174px;
    aspect-ratio: 168/174;
    background: url("../images/채팅방 데코1.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
}

.guest_img2{
    position: absolute;
    top: 413px;
    left: 59px;
    width: 156px;
    height: 234px;
    aspect-ratio: 156/234;
    background: url("../images/채팅방 데코2.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
}

.guest_img3{
    position: absolute;
    top: 687px;
    left: 62px;
    width: 154px;
    height: 152px;
    aspect-ratio: 154/152;
    background: url("../images/채팅방 데코3.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
}

.guest_img4{
    position: absolute;
    top: 286px;
    left: 1168px;
    width: 255px;
    height: 486px;
    aspect-ratio: 255/486;
    background: url("../images/채팅방 데코 겸 블랙 페이지 들어감.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
}


.guest_box{
    position: absolute;
    top: 157px;
    left: 280px;
    width: 880px;
    height: 700px;
    background-color: #f7f5ed;
    padding: 50px;
    border-radius: 30px;
    overflow-y: auto;
}



.guest_form_box {
    position: absolute;
    top: 570px;
    left: 38px;
    width: 803px;
    height: 92px;
    border-radius: 15px;
    background-color: #f7f5ed;
    border: 1px solid #960000;
    
   
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.guest_form_box .ajax-form {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
    align-items: center;
}

.guest_form_box .form-group {
    flex-grow: 1;
    height: 100%;
    margin: 0;
}

.guest_form_box textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: 16px;
    color: #960000;
    padding: 5px 0;
}


.guestbook-entries {
    position: absolute;
    top: 50px; 
    left: 37px;
    width: 804px; 
    height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 15px;
    box-sizing: border-box;
}


.guestbook-entries::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.entry {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}


.entry-content-box {
    min-width: 300px;
    max-width: 804px;
    min-height: 53px;
    height: auto;
    
    background-color: #f7f5ed;
    border: 1px solid #960000;
    border-radius: 15px;
    
    padding: 17px;
    box-sizing: border-box;
    word-break: break-word;
}

.entry-content-box p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #960000;
}


.black-container{
    width: 1440px;
    height: 900px;
    background-color: #0a0a0a;
}


.black_img{
    width: 1260px;
    height: 639px;
    flex-shrink: 0;
    aspect-ratio: 1260/639;
    background: url("../images/블랙페이지 메인.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 146px;
    left: 90px;
}

.black_title{
    width: 316px;
    height: 83px;
    flex-shrink: 0;
    aspect-ratio: 316/83;
    background: url("../images/블랙 페이지 로고.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 32px;
    left: 101px;
}

.black_plus{
    width: 476px;
    height: 252px;
    flex-shrink: 0;
    aspect-ratio: 476/252;
    background: url("../images/블랙 페이지 슬로건.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 23px;
    left: 884px;
}

.black_popup{
    width: 1102px;
    height: 242px;
    flex-shrink: 0;
    aspect-ratio: 1102px/242px;
    background: url("../images/블랙페이지 팝업.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 657px;
    left: 169px;
}


.black_btn{
    width: 149px;
    height: 41px;
    flex-shrink: 0;
    aspect-ratio: 149/41;
    background: url("../images/별도 사이트 이동.png") no-repeat center center;
    background-size: contain;
    transform-origin: top left;
    position: absolute;
    top: 813px;
    left: 646px;
}



.main_plus1{
    position: absolute;
    width: 344px;
    height: 167px;
    left: 180px;
    top:704px
}



.main_plus2{
    position: absolute;
    width: 388px;
    height: 167px;
    left: 524px;
    top:704px
}



.main_plus3{
    position: absolute;
    width: 344px;
    height: 167px;
    left: 912px;
    top:704px
}